@{
    ViewBag.Title = "Kontakt";
}



<div class="row-fluid" style="margin-top:10px;color:white;">
    <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1523.9609596064838!2d22.01449057225587!3d50.03034661669743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473cfaf83c5a9833%3A0x432f7dd9b86f7a01!2sUniwersytet+Rzeszowski!5e0!3m2!1spl!2spl!4v1555276756206!5m2!1spl!2spl" width="700" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="col-md-4">
        <h2>Skontaktuj się z nami</h2>
        <address>
            <strong>PizzaOnline.pl</strong><br>
            Rzeszów, 35-310<br />
            aleja Tadeusza Rejtana 16C<br />
            Numer: 573-452-321<br />
            Email: pizza@wp.pl<br />
        </address>
    </div>
</div>
